{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>MUSIC IS OUR HERO®!</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'home/img/logo.png' %}" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Caveat&family=Pacifico&family=Square+Peg&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="{% static 'home/css/main.css' %}" rel="stylesheet" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init('Xy3S_7E4S-PuJZQGH');
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                // generate a five digit number for the contact_number variable
                this.contact_number.value = Math.random() * 100000 | 0;
                // these IDs from the previous steps
                emailjs.sendForm('service_l32iruv', 'template_c1v7i6d', '#contact-form', this)
                .then(function(response) {
                  console.log('SUCCESS!', response.status, response.text);
               }, function(error) {
                  console.log('FAILED...', error);
               });
        }
    </script>
  </head>

  <body>
    <div id="particles-js"></div>
    <!-- ======= Navbar ======= -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid shadow-sm p-3 bg-body">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0 d-flex flex-row">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact-form"><i class="fa-solid fa-message"></i></a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#storeModal">
                <i class="fa-solid fa-bag-shopping"></i></a>
              </button>
              {% comment %} <a class="nav-link" href="#"><i class="fa-solid fa-message"></i></a> {% endcomment %}
            </li>
        </div>
      </div>
    </nav>

    <div class="container" class="hero">
      <div class="row">
        <div class="col">
          <img class="img-fluid rounded" src="{% static 'home/img/capeduo.png' %}" alt="..." />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1>
            Join the Cape Squad, unlock instrumentals, and begin <br />
            writing your next hit song! Website and app coming soon!
          </h1>
        </div>
      </div>

      <div class="connect">
        <h2>Connect With Us</h2>
      </div>
      <div class="container pt-2 social-links">
            <a class="btn btn-floating" href="https://www.instagram.com/musicisourhero/" role="button"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-floating" href="https://www.facebook.com/musicisourheroMIOH" role="button"><i class="fab fa-facebook"></i></a>
            <a class="btn btn-floating" href="https://twitter.com/MUSICISOURHERO" role="button"><i class="fab fa-twitter"></i></a>
      </div>


      <div class="container pt-5 pb-5">
        <form id="contact-form">
          <div class="mb-3">
            <input class="form-control" id="name" type="text" placeholder="Name" data-sb-validations="required" />
          </div>
          <div class="mb-3">
            <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required, email" />
          </div>
          <div class="mb-3">
            <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;" data-sb-validations="required"></textarea>
          </div>
          <div class="d-grid">
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
          </div>
        </form>
      </div>

      <div class="modal fade" id="storeModal" tabindex="-1" aria-labelledby="storeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="storeModalLabel">COMING SOON!!!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Store coming soon!  Stay tuned for updates
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-2 mb-3">
          <p>
            MUSIC IS OUR HERO®!<br />
            All Rights Reserved
          </p>
        </ul>
        <p class="text-center text-muted">© 2021 Nice Rack LLC</p>
      </footer>

      <button type="button" class="btn btn-danger btn-floating btn-sm" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>



    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <!-- Vendor JS Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{% static 'home/js/particles.min.js' %}"></script>
    <script src="{% static 'home/js/app.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'home/js/script.js' %}"></script>
  </body>
</html>
