{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>MUSIC IS OUR HERO®!</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'home/img/logo.png' %}" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Caveat&family=Pacifico&family=Square+Peg&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link href="{% static 'home/css/main.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div id="particles-js"></div>
    <!-- ======= Navbar ======= -->
    <section id="header">
      <div class="container-fluid shadow-sm p-3 bg-body">
        <ul id="navbar">
          <li>
            <a class="active" href="home.html"
              ><i class="fa-solid fa-house"></i
            ></a>
          </li>
          <li>
            <a href="#contact"><i class="fa-solid fa-message"></i></a>
          </li>
          <li id="lg-bag">
            <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
          </li>
          <a href="#" id="close"><i class="far fa-x"></i></a>
        </ul>
      </div>
      <div id="mobile">
        <a href="store.html"><i class="fa-solid fa-bag-shopping"></i></a>
        <i id="bar" class="fa-solid fa-align-justify"></i>
      </div>
    </section>

    <section id="hero">
      <div class="container-fluid mx-auto text-center">
        <img class="img-fluid rounded" src="{% static 'home/img/capeduo.png' %}" alt="..." />
        <h1>
          Join the Cape Squad, unlock instrumentals, and begin <br />
          writing your next hit song! Website and app coming soon!
        </h1>
      </div>

      <div class="social-links">
        <h2>Connect With Us</h2>
        <div class="icons">
          <a
            class="btn btn-floating"
            href="https://www.instagram.com/musicisourhero/"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            class="btn btn-floating"
            href="https://www.facebook.com/musicisourheroMIOH"
            role="button"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            class="btn btn-floating"
            href="https://twitter.com/MUSICISOURHERO"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
        </div>
      </div>
    </section>
    <section id="footer">
      <footer class="footer mt-auto py-3 bg-light">
        <div class="container-fluid">
          <p>
            Copyright © 2022 Nice Rack LLC<br />
            MUSIC IS OUR HERO®!<br />
            All Rights Reserved
          </p>

          <p></p>
        </div>
      </footer>
    </section>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <!-- Vendor JS Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{% static 'home/js/particles.min.js' %}"></script>
    <script src="{% static 'home/js/app.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'home/js/script.js' %}"></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        // https://dashboard.emailjs.com/admin/account
        emailjs.init("Xy3S_7E4S-PuJZQGH");
      })();
    </script>
  </body>
</html>

